---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <h1 class="text-3xl font-bold mb-4">Contact</h1>
  <p>Find me on <a href="https://linkedin.com/" class="text-blue-600 underline">LinkedIn</a> or <a href="https://twitter.com/" class="text-blue-600 underline">Twitter</a>.</p>
</MainLayout> 