---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <h1 class="text-3xl font-bold mb-4">Projects</h1>
  <ul class="list-disc ml-6">
    <li><a href="/projects/writing/" class="text-blue-600 underline">Writing</a></li>
    <li><a href="/projects/presentations/" class="text-blue-600 underline">Presentations</a></li>
    <li><a href="/projects/music/" class="text-blue-600 underline">Music</a></li>
    <li><a href="/projects/coding/" class="text-blue-600 underline">Coding</a></li>
  </ul>
</MainLayout> 